SelfmadeCalculator/SelfmadeCalculator-darwin-arm64/
SelfmadeCalculator/SelfmadeCalculator-darwin-x64/
PomodoroMethod/out/
package-lock.json
PomodoroMethod/node_modules/
PomodoroMethod/out/
PomodoroMethod/node_modules/
SelfmadeCalculator/SelfmadeCalculator-darwin-arm64/
SelfmadeCalculator/SelfmadeCalculator-darwin-x64/
ToDoList/node_modules/
ToDoList/package-lock.json/
ToDoList/models/
ToDoList/routes/
ToDoList/server.js
/.gitignore
