* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

.sudoku-board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    border: 1px solid black;
    width: 276px;
}

.threeTimesThree {
    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(3, 30px);
    border: 1px solid black;
}

.threeTimesThree div {
    border: 0.5px solid gray;
    width: auto;
    height: auto;
}

.grey {
    background-color: rgb(229, 229, 229);
}

.field {
    cursor: pointer;
}

.field:hover {
    background-color: rgb(199, 199, 199);
}

button {
    font-size: 12pt;
    color: rgb(57, 57, 57);
    background-color: rgb(204, 204, 204);
    margin-top: 10px;
    border-style: none;
    border-radius: 5%/17%;
    height: 30px;
}

button:hover {
    background-color: rgb(175, 175, 175);
    cursor: pointer;
}